1. CRUD сотрудника
    1.1 создание сотрудника
    1.2 редактирование сотрудника
    1.3 удаление сотрудника
2. Сделать напоминание об следующем ревью emailjs.com
3. Создать страницу с таблицей всех сотрудников
    3.1 Имя | Дата следующего ревью | Ссылка на страницу сотрудника
    3.2 Сортировка по имени или дате
4. Страница сотрудника
    4.1 Выводятся данные о сотруднике
5. Авторизация
    5.1 Страница входа
    5.2 Страница регистрации
6. Страница пользователей
    6.1 Таблица с логином и кнопкой удалить



-- Поля сотрудника:
    - имя
    - дата последнего ревью
    - дата следующего ревью
    - список требований к следующему ревью
    - фидбэк по последнему ревью

-- Поля пользователя
    - Имя/логин
    - почта
    - пароль