@import './base.css';

#app {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
    font-weight: normal;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}